In [4]:
print ("Essraa")

name = Essraa
print (name, "Ahmed")
x1 = 7
x2 = 3
print (x1, x2)
swtitch= True
print (switch)

Essraa

NameError: name 'Essraa' is not defined

In [5]:
result = x1 + x2
print (result)
result += 1
print (result)
result *= x1
# this means the operations are done in sequence so the final result is after adding 1 and multiplying by 7 should give 77
# this means we assigned a new value to the variable or overrwite it

NameError: name 'x1' is not defined

In [4]:
x = 3
y = 10
result = x*y
result = x + y
print (result)
H = 245.54
W = 13.66
Area = H * W
print (Area)

13
3354.0764

Working with strings

In [8]:
name = "John" + " " + "Smith"
first_name = "John"
Last_name = "Smith"
full_name = first_name + " "  + Last_name
print (full_name)

John Smith

In [6]:
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old".format(name, 28))

Hello John
Hello John, you are 28 years old

In [9]:
name = "Essraa"
print (name [0])
print(name [-1])
print(name [2])

E
a
s

In [10]:
name = "Essraa"
print (name [0 :6 : 2])
# this shd give me Esa

Esa

In [11]:
# Exercises
x = 23
y = 4.5
switch = False
print (x, y, switch, "John")
print ('{}, {}, {}, "John"'.format(x, y, switch))

23 4.5 False John
23, 4.5, False, "John"

In [16]:
#Exercise 2
name = "Essraa"
sport = "basketball"
language = "python"
print ("{}'s favorite sport is {}".format(name, sport))
print ('{} is woroking on {} programming!'.format(name, language))

Essraa's favorite sport is basketball
Essraa is woroking on python programming!

Manipulating strings

In [17]:
name = " essraa ahmed "
print (name.title())
print (name.lower())
print(name.upper())
print (name.replace("e", "I"))
name = name.replace("e", "I")
print (name.find("ah"))
#this shd give 8
print (name.strip())
print ( name.lstrip())
print(name.rstrip())
print (name.split (" "))

 Essraa Ahmed
 essraa ahmed
 ESSRAA AHMED
 Issraa ahmId
8
Issraa ahmId
Issraa ahmId
 Issraa ahmId
['', 'Issraa', 'ahmId', '']

In [ ]:
#Thursday Exercise 1
word = "uppercase"
print (word.upper())
name = "$$John Smith"
print(name.strip())
print(name.lstrip())

UPPERCASE
$$ John Smith
$$ John Smith

Friday project

In [23]:
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89
company_name = "Coding temple, Inc."
company_address = "283 Franklin street"
company_city = "Boston, Ma"
message = "Thanks for shopping!"
print ("*"*50)
print ( "\t\t{}".format(company_name.title()))
print ( "\t\t {}".format(company_address))
print ( "\t\t{}".format(company_city))
print ("="*50)
print ("\tProduct Name\tProduct Price")
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))
print("="*50)
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))
print("="*50)
print("\n\t{}\n",format(message))

**************************************************
		Coding Temple, Inc.
		 283 Franklin street
		Boston, Ma
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			$754.83
==================================================

	{}
 Thanks for shopping!